* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

:root {
  /* Light mode (default) */
  --color-white: #ffffff;
  // Background de 
  --bg-color: #ffffff;
  --title-color: #ffffff; 
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.app {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 240px;
  margin-bottom: 150px;
  padding: 40px;
}

/* Responsive */
@media (max-width: 768px) {
  .main-content {
    margin-left: 20px;
    padding: 20px;
  }
}